IEclipsePreferences#org-eclipse-cdt-ui {
	preferences:
		'buildConsoleBackgroundColor=230,232,234'
		'buildConsoleProblemBackgroundColor=247,247,248'
		'buildConsoleProblemInfoBackgroundColor=230,232,234'
		'buildConsoleProblemWarningBackgroundColor=247,247,248'
}
IEclipsePreferences#org-eclipse-debug-ui {
	preferences:
		'org.eclipse.debug.ui.consoleBackground=230,232,234'
}
IEclipsePreferences#org-eclipse-tm-terminal-control {
	preferences:
		'TerminalPrefInvertColors=false'
}
IEclipsePreferences#org-eclipse-ui-editors {
	preferences:
		'AbstractTextEditor.Color.Background=247,247,248'
		'AbstractTextEditor.Color.Background.SystemDefault=false'
		'AbstractTextEditor.Color.Foreground=11,13,14'
		'AbstractTextEditor.Color.Foreground.SystemDefault=false'
		'AbstractTextEditor.Color.SelectionBackground=0,120,215'
		'AbstractTextEditor.Color.SelectionBackground.SystemDefault=false'
		'AbstractTextEditor.Color.SelectionForeground=255,255,255'
		'AbstractTextEditor.Color.SelectionForeground.SystemDefault=false'
		'asOccurencesIndicationColor=212,212,212'
		'currentIPColor=216,220,223'
		'currentLineColor=224,227,230'
		'deletionIndicationColor=23,26,28'
		'filteredSearchResultIndicationColor=237,237,252'
		'findBlockColor=90,120,255'
		'findIndicationColor=255,253,208'
		'matchingTagIndicationColor=196,202,207'
		'occurrenceIndicationColor=212,212,212'
		'org.eclipse.cdt.ui.writeOccurrenceIndicationColor=212,212,212'
		'redhatTextOccurrenceIndicationColor=212,212,212'
		'searchResultHighlighting=false'
		'searchResultIndication=true'
		'searchResultIndicationColor=168,177,184'
		'searchResultTextStyle=BOX'
		'secondaryIPColor=216,220,223'
		'writeOccurrenceIndicationColor=240,216,168'
}
IEclipsePreferences#org-eclipse-ui-workbench {
	preferences:
		'CONTENT_ASSIST_BACKGROUND_COLOR=213,217,221'
		'CONTENT_ASSIST_FOREGROUND_COLOR=14,16,17'
		'content_assist_parameters_background=213,217,221'
		'content_assist_parameters_foreground=14,16,17'
		'content_assist_proposals_background=213,217,221'
		'content_assist_proposals_foreground=14,16,17'
		'org.eclipse.egit.ui.DiffAddBackgroundColor=212,255,125'
		'org.eclipse.egit.ui.DiffHeadlineBackgroundColor=230,232,234'
		'org.eclipse.egit.ui.DiffHunkBackgroundColor=230,232,234'
		'org.eclipse.egit.ui.DiffRemoveBackgroundColor=255,155,155'
}
IEclipsePreferences#org-eclipse-wst-jsdt-ui {
	preferences:
		'CONTENT_ASSIST_BACKGROUND_COLOR=213,217,221'
		'CONTENT_ASSIST_FOREGROUND_COLOR=14,16,17'
		'content_assist_parameters_background=213,217,221'
		'content_assist_parameters_foreground=14,16,17'
		'content_assist_proposals_background=213,217,221'
		'content_assist_proposals_foreground=14,16,17'
}
IEclipsePreferences#org-eclipse-xtend-core-Xtend {
	preferences:
		'org.eclipse.xtend.core.Xtend.syntaxColorer.tokenStyles.xtend.richText.bgColor=219,222,225'
}
